*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  outline:none;
}
section{
width: 200px;
height: 100vh;
background-color: #308a7c;
float: left;
}
 li{
    height: 125px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    cursor: pointer;
    color: #ddd;
    font-size: 35px;
    border-bottom: 0.2px solid rgb(255,255,255,0.2);
}
.alarmicon{
height: 30px;
opacity: 0.9;
margin-top:49px;
}
.stopwatchicon{
height: 30px;
opacity: 0.9;
margin-top:50px;   
}
.timericon{
  height: 30px;
  opacity: 0.9;
margin-top:45px; 
}



main{
width: width:calc(100%-200px);
height: 100vh;
background-color:#434347;
}


.alarmheader{
    height: 70px;
    width: 100%;
    background-color: #312d2e;
}
.addalarm{
    color: #308a7c;
    line-height: 70px;
}
.alambg{
    opacity: 0.5;
    height: 100px;
    margin-top: 30vh;
    margin-left:40%;
}
.addalarmtxt{
    margin-left:90px;
    letter-spacing: 2px; 
    padding:10px;
    font-size: 18px;
}
.addalarmtxt:hover{
    background-color:rgb(59,201,163,0.1);
    cursor: pointer;
}

.noalarms{
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
 margin-top: 10px; 
 letter-spacing: 1.5px;
 color: #ffffff;
 opacity: 0.5;
}
.setalarmform{

}
.cross{
    color: #ffffff;
    margin-right:100px;
    font-size: 25px;
    cursor: pointer;
    float: right;
}
.name{
    color: rgb(255,255,255,0.7);
    font-size: 35px;
    margin-left: 100px;
}
.nameval{
    border: 1px solid #555;
    background-color:#434347;
    padding: 12px 10px;
    outline: none;
    color: #ddd;
    flex: 1;
    width: 50%;
    font-size: 25px;
}
.date{
    color: rgb(255,255,255,0.7);
    font-size: 35px;
    margin-left: 100px;
}
.week{
    height: 50px;
    width: 50px;
    color: rgb(255,255,255,0.7);
    font-size:25px;
    background-color: transparent;
    border: 1px solid #434347;
    cursor: pointer;
}
.sound{
    color: rgb(255,255,255,0.7);
    font-size: 35px;
    margin-left: 100px;
}
.tones{
       height: 50px;
    width: 50px;
    color: rgb(255,255,255,0.7);
    font-size:25px;
    background-color: transparent;
    border: 1px solid #434347;
    cursor: pointer; 
}
.snooz{
    background-color: #555;
    color: #ccc;
    border: none;
    outline: none;
    font-size: 25px;
    cursor: default;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 20px;
    margin-left: 5px;
}
.save{
    font-family: inherit;
    font-weight: inherit;
    border: none;
    outline: none;
    background-color:#3bc9a3;
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 100px;
    padding: 25px 300px;
    margin-top: 20px; 
}
.timeset{
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(255,255,255,0.5);
    text-transform: uppercase;
    border-collapse: collapse;
    padding:10px;
    font-size: 25px;
}
td{
    padding: 5px 10px;
    text-align: center;
}
.setalarm-section{
    padding-top:100px;
}
.stopwatch-container{
    background-color: #3b3a3f;
    height: 250px;
    font-size: 25px;
    display: block;
    color: #ffffff;
}
.swbtn{
    padding: 10px;
    border: none;
    margin: 10px;
}



/* header */
h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 4em;
  color: #fff;
}

/* buttons */
button {
  cursor: pointer;
  margin: 0 5px;
  padding: 10px 30px;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: 0;
  color: #fff;
  transition: all ease 300ms;
}
button:hover {
  color: #333;
  background: #fff;
}

/* center content vertically and horizontally */
/*.table {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #333;
}*/
.cell {
  display: table-cell;
  vertical-align: middle;
  cursor: default;
}

/* variable misc classes */
.hide {
  display: none;
}
select{
  border:none;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  font-size: 16px;
}
option{
  border:none;
  background-color: #333;
  color: #fff;
  font-size: 16px;
}