body{
    background-color: #333;

}
nav{
    background-color: #333;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav a{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}
.divider{
    margin-top:20px;
    border: 0.5px dashed rgb(250,250,250,0.5);
}
.alarm-clock{
display: block;
text-align: center;
}
.clock{
    color: #fff;
    font-size:50px;
}
.active{
    border-bottom: 1px dotted rgb(250,250,250,0.5);
    box-shadow: 2px 2px 2px 2px;
    padding :10px;
}
select{
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    border-left: none;
    border-right: none;
    padding: 10px;
    margin: 10px;
}
option{
    background-color:#333;
    color: #fff;
}
.setalarm{
padding: 10px 20px;
border: 1px solid rgb(250,250,250,0.5);
background-color: transparent;
color: #fff;
font-size: 20px;
cursor: pointer;
width: 150px;
}
.hide {
  display: none;
}
#snooze{
   padding: 10px 20px;
border: 1px solid rgb(250,250,250,0.5);
background-color: transparent;
color: #fff;
font-size: 20px;
cursor: pointer; 
width: 150px;
}
table{
 margin-left: auto;
  margin-right: auto;
}
.alarmsettime{
    color: #fff;
    font-size: 20px;
}
.timereminderblock,.stopwatch{
    display: none;
    color: #fff;
    font-size: 20px;
}
button{
    background-color: transparent;
    border:1px solid rgb(250,250,250,0.5);
    padding:10px 20px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    width: 150px;
}
button:disabled,
button[disabled]{
  border: 1px solid rgb(250,250,250,0.5);
  background-color: rgb(250,250,250,0.5);
  color: #fff;
  cursor: not-allowed;
}
#mns,#scs{
    border: 1px solid rgb(250,250,250,0.5);
    background-color: transparent;
    color: rgb(250,250,250);
    height: 30px;
    width: 300px;
}


.stopwatch{
    margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.timereminderblock{
        margin-left: auto;
  margin-right: auto;
  text-align: center;
}
ul li{
    list-style: none;
}
a{
    outline: none;
}


/*Media Quries*/

@media only screen and (max-width: 600px) {
    select {
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    border-left: none;
    border-right: none;
    padding: 10px;
    margin: 8px;
}

#snooze{
    width: 100%;
    margin:10px 0;
}
.setalarm{
    width: 100%;
    margin:10px 0;
    }
.active{
    box-shadow: 1px 1px 1px 1px;
    padding :10px;
    border-radius:10px;
    padding:10px 15px;
    margin: 0;
}
button{
    width: 40%;
    margin: 10px 10;
}
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
